<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>{{ school.name }}</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for student in school.get_students("name") %}
            <tr>
                <td>
                    <a href="{{ url_for('student', student_id=student.student_id) }}">{{ student.name}}</a>
                </td>
                <td>
                    {{ student.gpa }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

